

body {
    font-family: 'Raleway', sans-serif;
    width: auto;
}

#headdiv {
 box-sizing: border-box;
 letter-spacing: 2px;
 display: flex;
 }

.navbar {
    box-sizing: content-box;
    display:flex;
    flex-grow: 2;
}

#links {
    display:flex;
    flex-direction: row;
    padding: 15px;
    margin: 15px;
    border: 10px;
    font-weight: bold;
}

#Accommodation {
    justify-content: space-around;
}

#Activities {
    justify-content: space-between;
}


a {
    text-decoration:none;
    color:#8b8987;
}
a:hover {
    color:#0065FC;
    text-decoration: overline;
}

.form {
    background-color: none;
    display: inline-flex;
    align-items:center;
    box-sizing: border-box;
    border-radius: 10px;
    border: 5px; 
    border-color: #070707;
    margin: 10px;
    padding: 10px;
}



