

body {
    font-family: 'Raleway', sans-serif;
    width: auto;
    border: 0;
    margin: 0;
    padding: 0;
}

header {
    padding: 0;
    margin: 0;
}

#headdiv {
 box-sizing: border-box;
 display: flex;
 padding-right: 20px;
 }

.navbar {
    box-sizing: content-box;
    display:flex;
    flex-grow: 2;
}

#links {
    display:flex;
    flex-direction: row;
}

img {
    max-width: fit-content;
    height: fit-content;
    padding: 10px;


}


a {
    text-decoration:none;
    color:#8b8987;
    padding: 10px;
    padding-top: 30px;
 
}

a:hover {
    color:#0065FC;
    border-width: 2px;
    border-top-style: solid;
    border-color: #0065FC;
}

@media only screen and (max-device-width: 600px) {

#headdiv {
    display: flex;
    flex-direction: column;
}

img {
    display: flex;
    justify-content: center;
}

a:hover {
    color:#0065FC;
    border-width: 2px;
    border-bottom-style: solid;
    border-color: #0065FC;
    border-top-style: none;
}

}
/** end of head section CSS - need to add media queries */

button {
    width: auto;
    font-weight: bolder;
    background-color: #0065FC;
    caret-color: white;
}



ul {
    list-style: none;
    font-weight: bold;
    display:flex;
    flex-direction: row;
}

li {
    box-sizing: border-box;
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
    border-color: #575350;
    border-width:thick;
}

